    html {
        font-size: 100%;
        box-sizing: border-box;
        height: 100%;
    }
    
    * {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }
    
    *::after,
    *::before {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        height: 100%;
    }
    
    li {
        list-style-type: none;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    /* setting header nav bar */
    
    .header {
        display: flex;
        height: 100px;
        justify-content: space-between;
        height: 90px;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 1px solid rgba(201, 201, 201, 0.418);
    }
    
    .space-left {
        width: 15px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }
    
    .menu-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-transform: uppercase;
        font-size: 13px;
    }
    
    .active {
        border-bottom: 3px solid #008248;
        height: 100%;
        text-align: center;
        justify-content: center;
        padding: 37px 0px;
        font-weight: bold;
    }
    
    .active:hover {
        color: #008248;
    }
    
    .rewards {
        height: 100%;
        text-align: center;
        justify-content: center;
        padding: 37px 0px;
        font-weight: bold;
    }
    
    .rewards:hover {
        color: #008248;
    }
    
    .gift-cards {
        height: 100%;
        text-align: center;
        justify-content: center;
        padding: 37px 0px;
        font-weight: bold;
    }
    
    .gift-cards:hover {
        color: #008248;
    }
    
    .menu-right {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        padding: 0px 40px;
        font-weight: bold;
    }
    
    .store {
        font-size: 13px;
        margin: 0 30px;
        display: flex;
        letter-spacing: 1px;
    }
    
    .store>i {
        padding: 3px 6px;
        color: black;
    }
    
    .store a:hover {
        color: #008248;
    }
    
    .sign {
        margin: 0 15px;
        font-size: 13px;
        border: 1px solid black;
        padding: 6px 13px;
        border-radius: 20px;
        align-content: center;
        letter-spacing: 0.5px;
        transition: background 0.2s ease-in-out;
    }
    
    .sign:hover {
        background-color: rgb(238, 238, 238);
    }
    
    .join {
        font-size: 13px;
        border: 1px solid black;
        padding: 6px 13px;
        border-radius: 20px;
        align-content: center;
        background: black;
        letter-spacing: 0.5px;
        transition: background 0.2s ease-in-out;
    }
    
    .join:hover {
        background-color: rgba(0, 0, 0, 0.822);
    }
    
    .join a {
        color: white;
    }
    /* end header nav bar */
    /* start sub-header */
    
    .sub-header {
        background-color: rgb(241, 241, 241);
        height: 50px;
        display: flex;
        gap: 30px;
        font-size: 13px;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.418);
        align-items: center;
        font-weight: 510;
    }
    
    .space-left-2 {
        width: 95px;
    }
    
    .all-pro {
        border-bottom: 1px solid black;
        display: inline-block;
        height: 22px;
        padding-top: 3px;
    }
    /* end sub-header */
    /* menu */
    
    .column-1 {
        float: left;
        width: 120px;
        height: auto;
        display: flex;
    }
    
    .space-top {
        width: auto;
        height: 40px;
    }
    
    .col-main {
        display: flex;
        height: auto;
        /* CHINH LA MAY */
        /* LOI TAI MAY */
        /* BECAUSE OF YOU */
        /* F YOU */
    }
    
    .menu-list {
        width: 240px;
        height: auto;
        /* line-height: 2.5; */
    }
    
    ul {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    li {
        padding: 15px 0;
        font-size: 16px;
        color: rgb(126, 126, 126);
    }
    /* menu pic main start */
    
    .menu-pic {
        margin-left: 70px;
    }
    
    .title {
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .sub-title {
        font-size: 19px;
        display: block;
        font-weight: 700;
        padding: 0 3px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(212, 212, 212, 0.719);
        height: 50px;
    }
    
    .pic-drinks {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 10px;
        margin-bottom: 60px;
    }
    
    .pic-drinks img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    /* setting position in grid [menu grid] */
    
    .hot-cof-text {
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
        grid-column: 2 / 4;
    }
    
    .hot-tea-pic {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    
    .hot-tea-text {
        grid-column: 6 / 9;
        grid-row: 1 / 2;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .hot-drink-pic {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .hot-drink-text {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .frappuccino-pic {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
    
    .frappuccino-text {
        grid-column: 6 / 9;
        grid-row: 2 / 3;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .cold-cof-pic {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .cold-cof-text {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .iced-tea-pic {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    }
    
    .iced-tea-text {
        grid-column: 6 / 8;
        grid-row: 3 / 4;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .cold-drink-pic {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .cold-drink-text {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    /* end menu grid */
    /* start food  */
    
    .pic-food {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px 10px;
        margin-bottom: 60px;
    }
    
    .pic-food img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    /* start postion grid [food] */
    
    .hot-bf-text {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .bakery-pic {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .bakery-text {
        grid-column: 6/8;
        grid-row: 1/2;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .lunch-pic {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .lunch-text {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .snack-pic {
        grid-column: 5/6;
        grid-row: 2/3;
    }
    
    .snack-text {
        grid-column: 6/8;
        grid-row: 2/3;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .yogurt-pic {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .yogurt-text {
        grid-column: 2/4;
        grid-row: 3/4;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    /* end food grid */
    /* start at home coffee */
    
    .pic-ahc {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1;
        gap: 30px 10px;
        margin-bottom: 60px;
    }
    
    .pic-ahc img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    /* postion grid ahc */
    
    .bean-text {
        grid-column: 2/4;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .instant-pic {
        grid-column: 5/6;
    }
    
    .instant-text {
        grid-column: 6/8;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    /* end ahc */
    /* start merchandise */
    
    .pic-mer {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 10px;
    }
    
    .pic-mer img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    /* position grid merchandise */
    
    .cold-cup-text {
        grid-column: 2/4;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .tumbler-pic {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .tumbler-text {
        grid-column: 6/8;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .bottle-pic {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .bottle-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    
    .other-pic {
        grid-column: 5/6;
        grid-row: 2/3;
    }
    
    .other-text {
        grid-column: 6/8;
        grid-row: 2/3;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        align-items: center;
    }
    /* end merchandise */
    /* end body main menu */
    /* start footer */
    
    .footer-main {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.418);
    }
    
    .about-us {
        font-size: 13px;
        color: grey;
        font-weight: 600;
        width: 200px;
        margin: 10px 0;
        margin-bottom: 30px;
    }
    
    .about-us p {
        font-size: 16px;
        margin-bottom: 15px;
        color: black;
    }
    
    .careers {
        font-size: 13px;
        color: grey;
        font-weight: 600;
        width: 150px;
        margin: 10px 0;
    }
    
    .careers p {
        font-size: 16px;
        margin-bottom: 15px;
        color: black;
    }
    
    .social {
        font-size: 13px;
        color: grey;
        font-weight: 600;
        width: 180px;
        margin: 10px 0;
    }
    
    .social p {
        font-size: 16px;
        margin-bottom: 15px;
        color: black;
    }
    
    .business {
        font-size: 13px;
        color: grey;
        font-weight: 600;
        width: 180px;
        margin: 10px 0;
    }
    
    .business p {
        font-size: 16px;
        margin-bottom: 15px;
        color: black;
    }
    
    .order {
        font-size: 13px;
        color: grey;
        font-weight: 600;
        width: 180px;
        margin: 10px 0;
    }
    
    .order p {
        font-size: 16px;
        margin-bottom: 15px;
        color: black;
    }
    
    .icon-footer {
        display: flex;
        margin: 30px 0 5px 0;
    }
    
    .icon {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .icon>div {
        display: inherit;
        height: 40px;
        width: 40px;
        font-size: 25px;
        border: 1px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }
    
    .icon>div:hover {
        background-color: rgba(207, 207, 207, 0.555);
        cursor: pointer;
    }
    
    .underfooter>p {
        font-size: 12px;
    }
    /* end footer */
    /* start sticky footer */
    
    .sticky-footer {
        width: 100%;
        height: 100px;
        background-color: #1e3932;
    }
    
    .content-footer {
        display: flex;
    }
    
    .main-footer {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .pick-store {
        display: grid;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(4, 10px);
        font-size: 16px;
        gap: 3px 0;
    }
    
    .content-1 {
        grid-column: 1/4;
        grid-row: 1/2;
        font-weight: bold;
        color: rgb(177, 177, 177);
        margin-bottom: 10px;
    }
    
    .content-2 {
        grid-column: 1/4;
        grid-row: 3/4;
        display: block;
        border-bottom: 1px solid rgba(212, 212, 212, 0.486);
        width: 250px;
        height: 30px;
        color: white;
        font-weight: bold;
    }
    
    .arrow {
        grid-column: 4/5;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .shopping {
        display: block;
        font-size: 40px;
        color: rgb(177, 177, 177);
    }
    /* end sticky footer */
    /* sticky effect */
    
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .body-main {
        flex: 1;
        overflow: auto;
        background-color: white;
    }
    /* end sticky effect */
    /* start change hot coffee*/
    
    .sub-title-1 {
        font-size: 19px;
        margin-bottom: 10px;
        color: rgb(151, 151, 151);
    }
    
    .sub-title-1>span {
        color: rgb(172, 172, 172);
        font-weight: bold;
    }
    
    .pic-americanos img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .pic-americanos {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        grid-template-rows: 150px 30px 50px;
        gap: 15px;
    }
    
    .americano-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .americano-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .pic-brewed img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .pic-brewed {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px 30px 150px 30px;
        gap: 15px;
    }
    
    .blonde-roast-pic {
        grid-column: 2/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .blonde-roast-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .mistro-pic {
        grid-column: 5/7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mistro-text {
        grid-column: 5/7;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .dark-roast-pic {
        grid-column: 8/10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .dark-roast-text {
        grid-column: 8/11;
        grid-row: 2/4;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -20px;
    }
    
    .Pike-Roast-pic {
        grid-column: 11/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Pike-Roast-text {
        grid-column: 11/13;
        grid-row: 2/4;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .Decaf-Pike-pic {
        grid-column: 2/4;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Decaf-Pike-text {
        grid-column: 2/5;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .pic-cappuccino {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-cappuccino img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .cappuccino-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cappuccino-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .pic-espresso {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-espresso img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .espresso-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .espresso-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .espresso-con-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .espresso-con-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .pic-flat {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-flat img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .flat-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flat-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .honey-flat-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .honey-flat-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .pic-latte {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px 30px 150px 30px;
        gap: 15px;
    }
    
    .pic-latte img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .latte-pic {
        grid-column: 2/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .latte-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .cinnamon-latte-pic {
        grid-column: 5/7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cinnamon-latte-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .reserve-latte-pic {
        grid-column: 8/10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reserve-latte-text {
        grid-column: 8/11;
        grid-row: 2/4;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .hazenut-latte-pic {
        grid-column: 11/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hazenut-latte-text {
        grid-column: 11/14;
        grid-row: 2/4;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .Vanilla-latte-pic {
        grid-column: 2/4;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Vanilla-latte-text {
        grid-column: 2/5;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .pic-macchiato {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-macchiato img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .caramel-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .caramel-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .espresso-macchiato-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .espresso-macchiato-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .pic-mocha {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-mocha img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .mocha-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mocha-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .choco-mocha-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .choco-mocha-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -20px;
    }
    
    .white-mocha-pic {
        grid-column: 8/10;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .white-mocha-text {
        grid-column: 8/11;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .pic-clover {
        display: grid;
        grid-template-columns: repeat(13, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px 30px 150px 30px 30px 150px 30px 30px 150px 30px 30px 150px 30px 30px 150px 30px 30px;
        gap: 15px;
    }
    
    .pic-clover img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .rwanda-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rwanda-text {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -30px;
    }
    
    .colombia-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .colombia-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -30px;
    }
    
    .bolivia-pic {
        grid-column: 8/10;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bolivia-text {
        grid-column: 8/11;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -30px;
    }
    
    .ecuador-pic {
        grid-column: 11/13;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ecuador-text {
        grid-column: 11/14;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .papua-pic {
        grid-column: 2/4;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .papua-text {
        grid-column: 2/5;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -50px;
    }
    
    .brazil-pic {
        grid-column: 5/7;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .brazil-text {
        grid-column: 5/7;
        grid-row: 5/7;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .place-roast-pic {
        grid-column: 8/10;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .place-roast-text {
        grid-column: 8/11;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -30px;
    }
    
    .yukon-pic {
        grid-column: 11/13;
        grid-row: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .yukon-text {
        grid-column: 11/14;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .gold-coast-pic {
        grid-column: 2/4;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gold-coast-text {
        grid-column: 2/4;
        grid-row: 8/9;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .breakfast-blend-pic {
        grid-column: 5/7;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .breakfast-blend-text {
        grid-column: 5/7;
        grid-row: 8/9;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .kenya-pic {
        grid-column: 8/10;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .kenya-text {
        grid-column: 8/10;
        grid-row: 8/9;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .veranda-pic {
        grid-column: 11/13;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .veranda-text {
        grid-column: 11/13;
        grid-row: 8/9;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .guatemala-pic {
        grid-column: 2/4;
        grid-row: 10/11;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .guatemala-text {
        grid-column: 2/5;
        grid-row: 11/12;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -40px
    }
    
    .willow-pic {
        grid-column: 5/7;
        grid-row: 10/11;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .willow-text {
        grid-column: 5/8;
        grid-row: 11/12;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -20px;
    }
    
    .decaf-sumatra-pic {
        grid-column: 8/10;
        grid-row: 10/11;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .decaf-sumatra-text {
        grid-column: 8/11;
        grid-row: 11/12;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .verona-pic {
        grid-column: 11/13;
        grid-row: 10/11;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .verona-text {
        grid-column: 11/14;
        grid-row: 11/12;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .decaf-pike-pic {
        grid-column: 2/4;
        grid-row: 13/14;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .decaf-pike-text {
        grid-column: 2/5;
        grid-row: 14/15;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -40px;
    }
    
    .espresso-roast-pic {
        grid-column: 5/7;
        grid-row: 13/14;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .espresso-roast-text {
        grid-column: 5/8;
        grid-row: 14/15;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .decaf-espresso-pic {
        grid-column: 8/10;
        grid-row: 13/14;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .decaf-espresso-text {
        grid-column: 8/11;
        grid-row: 14/15;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .ethiopia-pic {
        grid-column: 11/13;
        grid-row: 13/14;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ethiopia-text {
        grid-column: 11/13;
        grid-row: 14/15;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .french-roast-pic {
        grid-column: 2/4;
        grid-row: 16/17;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .french-roast-text {
        grid-column: 2/5;
        grid-row: 17/18;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .italian-pic {
        grid-column: 5/7;
        grid-row: 16/17;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .italian-text {
        grid-column: 5/8;
        grid-row: 17/18;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .komodo-pic {
        grid-column: 8/10;
        grid-row: 16/17;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .komodo-text {
        grid-column: 8/11;
        grid-row: 17/18;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .sumatra-pic {
        grid-column: 11/13;
        grid-row: 16/17;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sumatra-text {
        grid-column: 11/13;
        grid-row: 17/18;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .pic-traveler {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        grid-template-rows: 150px 30px 50px;
        gap: 15px;
    }
    
    .pic-traveler img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .travel-pic1 {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .travel-text1 {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -40px;
    }
    
    .travel-pic2 {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .travel-text2 {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .travel-pic3 {
        grid-column: 8/10;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .travel-text3 {
        grid-column: 8/10;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .travel-pic4 {
        grid-column: 11/13;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .travel-text4 {
        grid-column: 11/14;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -40px;
    }
    /* END HOT COFFEES */
    /* HOT TEAS */
    
    .pic-chai {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-chai img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .chai-latte-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .chai-latte-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .chai-tea-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .chai-tea-text {
        grid-column: 5/7;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .pic-black {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-black img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .earl-grey-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .earl-grey-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .london-tea-latte-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .london-tea-latte-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .english-breakfast-tea-pic {
        grid-column: 8/10;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .english-breakfast-tea-text {
        grid-column: 8/11;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .royal-english-latte-pic {
        grid-column: 11/13;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .royal-english-latte-text {
        grid-column: 11/14;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -20px;
    }
    
    .pic-green {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-green img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .emperor-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .emperor-text {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -80px;
    }
    
    .matcha-tea-latte-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .matcha-tea-latte-text {
        grid-column: 5/7;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .honey-citrus-pic {
        grid-column: 8/10;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .honey-citrus-text {
        grid-column: 8/11;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .mint-brewed-pic {
        grid-column: 11/13;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mint-brewed-text {
        grid-column: 11/14;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .pic-herbal {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-herbal img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .majesty-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .majesty-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .peach-tranquility-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .peach-tranquility-text {
        grid-column: 5/7;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    /* HOT DRINKS */
    
    .pic-hot-choco {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-hot-choco img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .hot-choco-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hot-choco-text {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    
    .white-choco-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .white-choco-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .pic-juice {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-juice img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .caramel-apple-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .caramel-apple-text {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .steam-apple-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .steam-apple-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .pic-steamer {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        margin: 50px 0;
        grid-template-rows: 150px 30px;
        gap: 15px;
    }
    
    .pic-steamer img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .cinnamon-creme-pic {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cinnamon-creme-text {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .steam-milk-pic {
        grid-column: 5/7;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .steam-milk-text {
        grid-column: 5/8;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }
    
    .vanilla-creme-pic {
        grid-column: 8/10;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .vanilla-creme-text {
        grid-column: 8/11;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-left: -90px;
    }